<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet/less" href="{{ STATIC_URL }}css/bootstrap/lib/bootstrap.less" type="text/css" />
  <link rel="stylesheet/less" href="{{ STATIC_URL }}css/style.less" type="text/css" />
  <script type="text/javascript" src="{{ STATIC_URL }}js/less-1.1.5.min.js"></script>
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->

   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script> 
  {% block extra-head %}{% endblock %}
    <title>{% block title-tag %}Rope A Dope And Wink{% endblock %}</title>
</head>
<body>

    <div class="top-header">
        <div class="container-fluid">
            <div class="main-title">
                <a href='/'>
                    <h1>Rope A Dope And Wink</h1>
                </a>
            </div>

            <div class="main-nav">
                <ul>
                    <a href="{% url entry_list %}"><li>Blog</li></a>
                    <a href="/steven-ciraolo/"><li>Portfolio & Contact</li></a>
                    <a href="/labs/"><li>Labs</li></a>
                </ul>
            </div>
        </div>
    </div>

    <div class="sub-nav">
        <div class="container-fluid">
            <div class="section-head" class="">
                {% block sectionhead %}{% endblock %}
            </div>

            <div class="sub-info">
    
                <p class="italic">"New knowledge is the most valuable commodity on earth. 
                                   The more truth we have to work with, the richer we become."- Kurt Vonnegut, Breakfast of Champions</p>


                <a id="contact-trigger">Feedback and criticism encouraged.</a>

                <form class="hidden right" id="json-contact-base" action="{% url json-contact %}" method="post">{% csrf_token %}
                    <div id="jsonwrapper">



                        {{ contactform.non_field_errors }}
                        {{ contactform.as_p }}
                        <input id ="formsubmit" type="submit" value="Submit" />
                    </div>

                </form>

            </div>
        </div>
    </div>



    <div class="container-fluid">
        <div class="sidebar">
            {% block sidebar %}{% endblock %}
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>


    
        <div class="footer">
        {% block footer %}
        <hr>

        {% endblock %}
        </div>
    </div>
{% block footer-scripts %}


           
{% endblock %}

<script type="text/javascript">

jQuery('#contact-trigger').click(function() {
    jQuery('#json-contact-base').toggleClass('hidden')
                                .css({'position':'absolute','z-index':'10'});
});

jQuery(function() {
      var form = jQuery("#json-contact-base");
      form.submit(function(e) {
          jQuery("#formsubmit").attr('disabled', true)
          jQuery("#contact-trigger").prepend('<span>Sending message, please wait... </span>')
          jQuery("#jsonwrapper").load(
              form.attr('action') + ' #jsonwrapper',
              form.serializeArray(),
              function(responseText, responseStatus) {
                  jQuery("#formsubmit").attr('disabled', false)
                  jQuery("#json-contact-base")[0].reset()
                  jQuery("#json-contact-base").addClass('nidden')
                  jQuery("#contact-trigger").html('<b>Your Message Was Sent</b>')
              }
          );
          e.preventDefault(); 
      });
  });
</script>

</body>

</html>