<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/print.css" type="text/css" media="print" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen" />
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ STATIC_URL }}blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->

   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script> 
  
    <title>{% block title-tag %}Rope A Dope And Wink{% endblock %}</title>
</head>

<div class="container">
<body>
<div id="top-header">
    <div id="main-title" class="span-10">
	    <a href='/'><h1>Rope A Dope And Wink</h1></a>
    </div>

    
    <div id="main-nav" class="span-11 right">
        <ul>
	        <li><a href="{% url entry_list %}">Blog</a> |</li>
	        <li><a href="/steven-ciraolo/">Portfolio and Contact</a></li>
        </ul>
    </div>
</div>


<div id="sectionhead" class="span-14">
	{% block sectionhead %}{% endblock %}
</div>

<div id="short-description" class="span-8 colborder right">
    
    <p>"come with me and you'll be in a world of pure imagination"- W. Wonka</p>


    <a id="contact-trigger">Feedback and criticism encouraged.</a>

<form class="nidden colborder right" id="json-contact-base" action="{% url json-contact %}" method="post">{% csrf_token %}
        <div id="jsonwrapper">



        {{ contactform.non_field_errors }}
        {{ contactform.as_p }}
        <input id ="formsubmit" type="submit" value="Submit" />
        </div>

</form>

</div>





<div id="content" class="span-14">
    {% block content %}{% endblock %}
</div>

<div id="sidebar" class="span-8 colborder right">
	{% block sidebar %}{% endblock %}
</div>
    
<div id="footer">
    {% block footer %}
    <hr>

    {% endblock %}
</div>

{% block footer-scripts %}


           
{% endblock %}

<script type="text/javascript">

jQuery('#contact-trigger').click(function() {
    jQuery('#json-contact-base').toggleClass('nidden');
});

jQuery(function() {
      var form = jQuery("#json-contact-base");
      form.submit(function(e) {
          jQuery("#formsubmit").attr('disabled', true)
          jQuery("#contact-trigger").prepend('<span>Sending message, please wait... </span>')
          jQuery("#jsonwrapper").load(
              form.attr('action') + ' #jsonwrapper',
              form.serializeArray(),
              function(responseText, responseStatus) {
                  jQuery("#formsubmit").attr('disabled', false)
                  jQuery("#json-contact-base")[0].reset()
                  jQuery("#json-contact-base").addClass('nidden')
                  jQuery("#contact-trigger").html('<b>Your Message Was Sent</b>')
              }
          );
          e.preventDefault(); 
      });
  });
</script>

</body>
</div>
</html>