{% extends "base.html" %}
{% block title-tag %}Steven Ciraolo | Rope A Dope And Wink{% endblock %}

{% block sectionhead %}
    <h2>Testing ground and idea dump for Steven Ciraolo.</h2>
{% endblock %}

{% block sidebar %}
<div id="contact-form">
<div class="sidebar-header">
<h4>Contact Me</h4>
</div>

  {% include "ez_contact/contact-bio.html" %}

</div>



{% endblock %}

{% block content %}

<div id="bio-page">
    
    <p>The potential for change represented by the internet and other ongoing innovations in communications has the potential to make Johannes Gutenberg's impact on information distribution look like Steve Gutenberg's on cinema. I would like to be a part of that innovation.<p>
    
    <br>
   <h3>What I Am Working On</h3>
   <p>The code for some of my efforts including this site can be seen at <a href="http://github.com/cirsteve/">Github</a></p>
   <p>I also have a bookmarking/study platform that I am developing at <a href="http://courseslate.com/">CourseSlate</a></p>
   <p>If you are lost and for some reason decided to browse my site you can <a href="{% url where %}">find your location</a> here.</p>
</div>
{% endblock %}


{% block footer-scripts %}
<script type="text/javascript">

function sendContact(e) {
    e.preventDefault();
    var form = $(e.target);
    $.ajax({
        url: form.attr('action'),
        type: form.attr('method'),
        data: form.serialize(),
        dataType: "json",
        success: function(data, responseStatus, jqXHR){
            if (data.sent === 'True'){
                form.replaceWith('<p>Message Successfully Sent</p>');
            }
            else {
                form.replaceWith(data.form_html);
            }
        }
        }); 
  };


$("form#json-contact-bio").submit(function(e){
    sendContact(e);
});

</script>

{% endblock %}