{% extends "base.html" %}
{% load tagging_tags %}
{% load entry_tags %}



{% block sectionhead %}
<div id="section-head">
	<h2>Blog</h2>


	<ul>
		<li>
            <a href="{% url entry_category_list %}">Categories</a>          
        </li>

		<li>
            <a href="{% url entry_tag_list %}">Tags</a>
        </li>
	</ul>



    
</div>

{% endblock %}

{% block sidebar %}

    <div class="sidebox">

        <div class="sidebar-header">

            <h4>Recent Posts</h4>

        </div>

    

    {% recent_posts %}

    </div>
    
    <div class="sidebox">

        <div class="sidebar-header">
        
            <h4>Categories</h4>
    
        </div>

        {% cat_list %}

    </div>

    <div class="sidebox">

        <div class="sidebar-header">
    
            <h4>Tags:</h4>
    
        </div>
    
    {% tag_cloud_for_model entry.Entry as tagc %}
    
        <ul class="tag-list">
    
    {% for tag in tagc %}
            <li><a href='{% url entry_tag_detail tag.id %}'>{{ tag.name }}</a></li>
    {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block footer-scripts %}

{% endblock %}