{% extends "labs_base.html" %}

    {% block extra-head %}

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script> 
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
    {% endblock %}

    {% block title-tag %}Where | Rope A Dope And Wink{% endblock %}



    {% block sidebar %}
        <div class="where_is">
            <h3>Find something to do.</h3>
 
            <div class="choice-radio">
                <input type="radio" name="location_lookup" value="current_loc">Where you are</input>
                <input type="radio" name="location_lookup" value="city-select">Explore a Major City</input>
            </div>
            <div class="loc_choice">
                <select id="city-select" class="chooser">
                    <option value="san-francisco">San Francisco</option>
                    <option value="los-angeles">Los Angeles</option>
                    <option value="new-york">New York</option>
                    <option value="chicago">Chicago</option>
                </select>
                <div id="current_loc" class="chooser"></div>
            </div>
       </div>
        <div class="yelp-box">
            <select id="yelp-select">
                <option value="choose">Choose An Activity</option>
                <option value="sportsteams">Pro Sports</option>
                <option value="musicvenue">Music</option>
                <option value="coffee">Coffee</option>
                <option value="icecream">Ice Cream</option>
                <option value="french">French</option>
                <option value="chinese">Chinese</option>
                <option value="burgers">Burgers</option>
            </select>
            <div class="loader">
                <p>Loading...</p>
                <img src="{{ STATIC_URL }}images/wait20trans.gif" />
            </div>
            <div class="reviews">
            </div>
        </div>
            
   
    {% endblock %}

    {% block content %}
        <div id="gmap">
        </div>
    {% endblock %}
      
    <div class="footer">
    {% block footer %}
    <hr>

    {% endblock %}
</div>

{% block footer-scripts %}


           

<script type="text/javascript" src="{{ STATIC_URL }}js/less-1.1.5.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/yelp.js"></script>
<script type="text/javascript">
var loc_info = {};

var cities = {"san-francisco":{"lat":37.7721,"long":-122.4386},
              "new-york":{"lat":40.7244,"long":-73.9560},
              "los-angeles":{"lat":34.0522,"long":-118.2437},
              "chicago":{"lat":41.8755,"long":-87.6440}};

$('input[type=radio]').change(function(){
    console.log('starting eventH');
    var elem_val = $(this).prop('checked',true).val();
    console.log(elem_val);
    $('div.loc_choice>.chooser').css('display','none');
    if (elem_val === 'current_loc'){
        console.log('firing getCP');
        
        navigator.geolocation.getCurrentPosition(getMap);
    }
    else {
            $('#city-select').css('display','block');
        }
    });

$('#city-select').bind('click',function(){ 
    var elem_val = $(this + 'option:selected').val();
    getMap(elem_val);
    $('#city-select').css('display','block');
    $('#yelp-select').css('display','block');
});
        
$('#yelp-select').bind('click',function (){
    var choice = $(this + ':selected').val();
    getTagList(choice);
});

$('#get_venue').css('display','none');

function getAddy(latlong){
  var gc = new google.maps.Geocoder();
  gc.geocode({'latLng': latlong}, function(result,status){
      if (status == google.maps.GeocoderStatus.OK) {
        $('#current_loc').append('<p><b>Address</b>' + result[0]["formatted_address"] + '</p>')
                         .css('display','block');
        }
      else {
        alert('Errooooorrrrr' + status);
       }
  });
}

function show_map(position) {
  var latitude = position.coords.latitude;
  var longitude = position.coords.longitude;
  alert(latitude + '  ' + longitude)
}

function appendCurrentLoc(lat,long){
   $('#current_loc').append('<p><b>Latitude: </b>' + lat + '</p><p><b>Longitude: </b>' + long + '</p>');
    $('#yelp-select').css('display','block');
}
function getMap(position) {
  $('div.loc_choice>.chooser').css('display','none');
  if (typeof position === 'string') {
      console.log('pos is ' + position);
      if (cities[position]){
          loc_info.lat = cities[position].lat;
          loc_info.long = cities[position].long;
          var latlng = new google.maps.LatLng(loc_info.lat, loc_info.long);
        }
    }
  else {
    console.log('current loc gm');
    loc_info.lat = position.coords.latitude;
    loc_info.long = position.coords.longitude;
    var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
    }
    var myOptions = {
      zoom: 13,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("gmap"),
        myOptions);
    var marker = new google.maps.Marker({
      position: latlng, 
      map: map
    });
    $('div.loc_choice img').css('display','none');
    if(typeof position !== 'string'){
    getAddy(latlng);
    var lat = position.coords.latitude;
    var long = position.coords.longitude;
    appendCurrentLoc(lat,long);
    }
}
    


function placeMarker(location) {
  var marker = new google.maps.Marker({
      position: location, 
      map: map
  });
}
</script>
{% endblock %}
</body>
</div>
