 <script type="text/javascript">
 var RecaptchaOptions = {
    theme : 'white'
 };
 </script>          

<form id="json-contact-bio" action="{% url json-contact %}" method="POST">{% csrf_token %}
    <div id="jsonwrapper">



        {{ form.name_of_field.errors }}
        {{ form.as_p }}
        <div class="recaptcha-div">{{ form.recaptcha }}{% if form.recaptcha.errors %}<div class="errmsg">{{ form.recaptcha.errors|join:", " }}</div>{% endif %}<br />
        </div>
        <input id ="formsubmit" type="submit" value="Submit" />
        <input type="reset" value="Reset">
    </div>

</form>